.tableBox {

    -fx-border-width: 1px 1px 1px 1px;
    -fx-border-radius: 10px;
    -fx-background-color: white;
    -fx-background-radius: 10px;
}


.mainBox{
    -fx-background-color: #eeeeee;
}
.boxLabel{
    -fx-label-padding: 3px;
    -fx-alignment: CENTER;
    -fx-border-width: 1px 1px 1px 1px;
    -fx-border-radius: 10px;
    -fx-background-color:#00ACC1 ;
    -fx-background-radius: 10px;
}
.buttonToDo{

}

.sticky-note {

}
.toDoNote {
    -fx-background-color:#E0F7FA ;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-alignment: CENTER;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-start-margin: 10px;
    -fx-translate-y: 0;
    -fx-transition: -fx-translate-y 1s ease;
}
.toDoNote:hover {
    -fx-translate-y: -5;
}
.toDoNoteArea{
    -fx-background-color:#42d4f5 ;

}

.remove-button{
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}
