.tableBox {

    -fx-border-color: lightgray;
    -fx-border-width: 1px 1px 0 0;
}


.mainBox{
}
.tableLabel{
    -fx-label-padding: 3px;
    -fx-alignment: CENTER;


}
.buttonToDo{
    -fx-background-color:#42d4f5 ;

}

.sticky-note {
    -fx-background-color: #FFEB3B;  /* jasny żółty kolor typowy dla sticky notes */
    -fx-padding: 10px;
    -fx-border-radius: 5px;
    -fx-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3); /* cień dla 3D efektu */
    -fx-font-size: 14px;
    -fx-text-wrap: wrap;
}
.toDoNote {
    -fx-background-color:#42d4f5 ;
}
.toDoNoteArea{
    -fx-background-color:#42d4f5 ;

}