@font-face {
    src: url('/PlaypenSans-VariableFont_wght.ttf');
}




.tableBox {


    -fx-border-radius: 20px;

    -fx-background-radius: 20px;
    -fx-background-color: #1d3256;
    -fx-border-color: #424242;
    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 10, 0.5, 3, 3);



}


.mainBox{
    -fx-background-color: #213255;
    -fx-font-family: 'Playpen Sans';
    -fx-border-width: 0.5;
    -fx-border-color: black;
-fx-border-radius: 10px;
    -fx-background-radius: 10px;




}
.boxLabel{
    -fx-font-size: 20;
    -fx-font-family: 'Playpen Sans', cursive;
    -fx-label-padding: 3px;
    -fx-alignment: CENTER;
    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 10, 0.5, 3, 3);
    -fx-border-radius: 20px;

    -fx-background-radius: 20px;
    -fx-background-color: #0da3dd;

;

}

.toDoNote {

    -fx-background-color:#eae7ef ;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 30, 0.7, 3, 3);
    -fx-alignment: CENTER;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-start-margin: 10px;
    -fx-translate-y: 0;
    -fx-transition: -fx-translate-y 1s ease;
}
.toDoNote:hover {
    -fx-translate-y: -5;
}
.toDoNoteArea{
    -fx-background-color:#42d4f5 ;

}
.deleteNote{
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-border-color: transparent;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}
.deleteNote:hover{
    -fx-background-color: #770000;
}

.remove-button{
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}
.category-label{
    -fx-background-color:#213d6f ;
    -fx-text-fill: white;
    -fx-padding: 10px 20px;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 10, 0.5, 3, 3);
    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-font-family: 'Playpen Sans', cursive;

}
.category-label:hover{
    -fx-background-color: #1c3560;

}
.categoryBox{
    -fx-border-radius: 20px;

    -fx-background-radius: 20px;
    -fx-background-color: #1d3256;
    -fx-border-color: #424242;
    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 10, 0.5, 3, 3);

}
.scrollPane{

    -fx-background-color: transparent;



}
.scrollPane .viewport {
    -fx-background-color: transparent;


}
.scroll-bar:vertical{
    -fx-background-color: transparent;

}
.scroll-bar .thumb {
    -fx-background-color: #3498DB;
    -fx-background-radius: 5;
}
.scroll-bar:vertical {
    -fx-pref-width: 12;
}
.addCategoryButton{
    -fx-background-radius: 15;
    -fx-background-color: linear-gradient(to bottom, #3498DB, #2980B9);
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 5, 0, 0, 2);
    position: sticky;
    top: 0;
    z-index: 100;


}
#addCategoryButton:hover {
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}
.title{
    -fx-background-color: #385383;
}
.minimizeButton{
    -fx-background-color: none;
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
}
.exitButton{
    -fx-background-color: none;
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;

}
.exitButton:hover{
    -fx-background-color: #2f466e;
}
.minimizeButton:hover{
    -fx-background-color: #2f466e;
}
.label-selected{
    -fx-background-color: #142646;

}
.no-hover:hover {
    -fx-background-color: #142646;
    -fx-text-fill: white;
    -fx-padding: 10px 20px;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 10, 0.5, 3, 3);
    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-font-family: 'Playpen Sans', cursive;
}
.buttonToDo{
    -fx-background-color: transparent;
}
.buttonToDo:hover{
    -fx-background-color:#3498DB;
}
.addNoteDialog{
    -fx-background-color:#213255 ;
    -fx-text-fill: white;
}
.addNoteDialog .text-area{
    -fx-text-fill: white;
}

.addNoteDialog .text-area .content{
    -fx-background-color: #2980B9;
    -fx-text-fill: white;

}
.addNoteDialog .label{
    -fx-text-fill: white;
}
.addNoteDialog .combo-box .text-field {
    -fx-background-color: #2980B9;
    -fx-text-fill: white;
}
.addNoteDialog .list-cell{
    -fx-background-color: #2980B9;
    -fx-text-fill: white;

}

.allCheck{
    -fx-text-fill: white;
}
.allCheck:selected .box {
    -fx-background-color: #2980B9;
}

.allCheck .box {

}